/* upload-modal.css */
#uploadModal .modal-content {
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: .3rem;
}

#uploadModal .modal-header {
  border-bottom: 1px solid #dee2e6;
}

#uploadModal .modal-title {
  color: #000;
}

#uploadModal .btn-close {
  color: #000;
}

#uploadModal .modal-body {
  padding: 1rem;
}

#uploadModal .form-control {
  margin-bottom: 1rem;
}

#uploadModal .btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  width: 100%;
}
