<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up Page</title>
    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <script src="../static/js/jquery-3.7.1.min.js"></script>
    <script src="../static/js/bootstrap.bundle.js"></script>
    <style>

    </style>
</head>
<body>
<form action="#" method="get">
<div class="input-group mb-3">
    <label for="inputGroupFile02" class="form-text"></label>
    <input type="file" name="image" class="form-control" id="inputGroupFile02">
</div>
    <input type="submit" value="upload">
</form>
</body>

</html>
