<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up Page</title>
    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <script src="../static/js/jquery-3.7.1.min.js"></script>
    <script src="../static/js/bootstrap.bundle.js"></script>

    <style>
        body {
            font-family: Arial, sans-serif;
        }
        .sidebar {
            display: inline-block;
            height: 100%;
            width: 15vw;
            background-color: #f8f9fa;
            padding-top: 20px;
        }
        .sidebar a {
            display: block;
            padding: 10px 20px;
            color: #333;
            text-decoration: none;
        }
        .sidebar a:hover {
            background-color: #ddd;
        }

    </style>
</head>
<body>

<div class="sidebar">
    <a href="main.html" class="active nav-link">Home</a>
    <a href="setting.html" class="nav-link">setting</a>
    <a href="search.html" class="nav-link">search</a>
    <a href="userfeeds.html" class="nav-link">유저 페이지</a>
    <a href="darkmode.html" class="nav-link">다크모드 테스트</a>
    <a href="#">..</a>
</div>
<script>
    $(()=>{

    })
</script>
</body>
</html>
